In [45]:
import pandas as pd
import orjson as json
import seaborn as sns
from matplotlib import pyplot as plt
import re

In [4]:
with open('data/Entity Recognition in Resumes.json', 'r') as json_file:
    lines = json_file.readlines()

In [38]:
data = [json.loads(line) for line in lines]

In [43]:
text_df = pd.DataFrame([{'content':d['content']} for d in data])

In [44]:
text_df.ap

                                             content
0  Abhishek Jha\nApplication Development Associat...
1  Afreen Jamadar\nActive member of IIIT Committe...
2  Akhil Yadav Polemaina\nHyderabad, Telangana - ...
3  Alok Khandai\nOperational Analyst (SQL DBA) En...
4  Ananya Chavan\nlecturer - oracle tutorials\n\n...